
<div class="row mt-5">
  <div class="col-xs-12">
    <span class="font-weight-bold">Balance:</span> {{balance}}
  </div>
</div>
<div class="row pt-5 mt-1 mb-1">
  <div class="col-xs-12">
    <app-alert [message]="error" [status]="status" *ngIf="error" (close)="closeAlert()"></app-alert>
    <div class="btn-group" role="group">
      <button type="button"
              class="btn btn-primary"
              [ngClass]="{'active': mktOrderSelect }"
              (click)="changeOrderForm('market')">
        Market
      </button>
      <button type="button"
              class="btn btn-primary"
              [ngClass]="{'active': lmtOrderSelect }"
              (click)="changeOrderForm('limit')">
        Limit
      </button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1"
                type="button"
                class="btn btn-primary dropdown-toggle"
                [ngClass]="{'active': stopMktSelect || stopLmtSelect || profitLmtSelect || trailStopSelect }"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
          Stop
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item"
             [ngClass]="{'active': stopMktSelect}"
             [routerLink]=""
             (click)="changeOrderForm('stop')">Stop Market</a>
          <a class="dropdown-item"
             [ngClass]="{'active': stopLmtSelect}"
             [routerLink]=""
             (click)="changeOrderForm('stopLmt')">Stop Limit</a>
          <a class="dropdown-item"
             [ngClass]="{'active': profitLmtSelect}"
             [routerLink]=""
             (click)="changeOrderForm('profitLmt')">Take Profit Limit</a>
          <a class="dropdown-item"
             [ngClass]="{'active': trailStopSelect}"
             [routerLink]=""
             (click)="changeOrderForm('trailStop')">Trailing Stop</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="mktOrderSelect">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <label for="mktQuantity">Quantity</label>
        <input type="text" class="form-control" [(ngModel)]="model.orderQty" name="orderQty" id="mktQuantity" />
      </div>
      <button type="submit" id="btnBuyMkt" class="btn btn-primary mr-2" (click)="orderClick('Buy')">Buy Market</button>
      <button type="submit" id="btnSellMkt" class="btn btn-primary" (click)="orderClick('Sell')">Sell Market</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="lmtOrderSelect">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <label for="lmtQuantity">Quantity</label>
        <input type="text" class="form-control" [(ngModel)]="model.orderQty" name="orderQty" id="limQuantity" />
      </div>
      <div class="form-group">
        <label for="lmtPrice">Limit Price</label>
        <input type="text" class="form-control" [(ngModel)]="model.price" name="price" id="limPrice" />
      </div>
      <button type="submit" id="btnLmtBuy" class="btn btn-primary mr-2" (click)="orderClick('Buy')">Buy / Long</button>
      <button type="submit" id="btnLmtSell" class="btn btn-primary" (click)="orderClick('Sell')">Sell / Short</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="stopMktSelect">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
      <div class="form-group">
        <label for="mktStopQty">Quantity</label>
        <input type="text" class="form-control" id="mktStopQty" [(ngModel)]="model.orderQty" name="orderQty" />
      </div>
      <div class="form-group">
        <label for="mktStopPrice">Stop Price</label>
        <input type="text" class="form-control" id="mktStopPrice" [(ngModel)]="model.stopPx" name="stopPx" />
      </div>
      <button type="submit" id="btnBuyStop" class="btn btn-primary mr-2" (click)="orderClick('Buy')">Set Buy Stop</button>
      <button type="submit" id="btnSellStop" class="btn btn-primary" (click)="orderClick('Sell')">Set Sell Stop</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="stopLmtSelect">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="mktStopQty">Stop Price</label>
        <input type="text" class="form-control" id="mktStopQty" />
      </div>
      <div class="form-group">
        <label for="lmtStopPrice">Limit Price</label>
        <input type="text" class="form-control" id="lmtStopPrice" />
      </div>
      <div class="form-group">
        <label for="lmtTriggerStop">Stop Price</label>
        <input type="text" class="form-control" id="lmtTriggerStop" />
      </div>
      <button type="submit" id="btnBuyLmtStop" class="btn btn-primary mr-2">Set Buy Stop</button>
      <button type="submit" id="btnSellLmtStop" class="btn btn-primary">Set Sell Stop</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="profitLmtSelect">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="profitLmtQty">Quantity</label>
        <input type="text" class="form-control" id="profitLmtQty" />
      </div>
      <div class="form-group">
        <label for="profitLmtPrice">Limit Price</label>
        <input type="text" class="form-control" id="profitLmtPrice" />
      </div>
      <div class="form-group">
        <label for="profitTrigger">Trigger Price</label>
        <input type="text" class="form-control" id="profitTrigger" />
      </div>
      <button type="submit" id="btnLmtProfitBuy" class="btn btn-primary mr-2">Take Profit Buy</button>
      <button type="submit" id="btnLmtProfitSell" class="btn btn-primary">Take Profit Sell</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="trailStopSelect">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="trailQty">Quantity</label>
        <input type="text" class="form-control" id="trailQty" />
      </div>
      <div class="form-group">
        <label for="trailValue">Trail Value</label>
        <input type="text" class="form-control" id="trailValue" />
      </div>
      <button type="submit" id="btnTrail" class="btn btn-primary mr-2">Set Buy Stop</button>
      <button type="submit" id="btnTrail" class="btn btn-primary">Set Sell Stop</button>
    </form>
  </div>
</div>


<div class="row mt-5">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-10 d-none d-sm-block">
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                [ngClass]="{'active': activeOrders}"
                (click)="showActiveOrders('active')">
          Active Orders
        </button>
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                [ngClass]="{'active': stopOrders}"
                (click)="showStopOrders('stop')">
          Stops
        </button>
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                [ngClass]="{'active': filledOrders}"
                (click)="showFilledOrders('filled')">
          Fills
        </button>
        <button type="button"
                class="btn btn-outline-primary btn-sm"
                [ngClass]="{'active': allOrders}"
                (click)="showAllOrders('all')">
          Order History
        </button>
      </div>
      <div class="col-xs-4 d-block d-sm-none">
        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="filterGroupBtn"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="filterGroupBtn">
            <a class="dropdown-item"
               [ngClass]="{'active': activeOrders}"
               [routerLink]=""
               (click)="showActiveOrders('active')">Active Orders</a>
            <a class="dropdown-item"
               [ngClass]="{'active': stopOrders}"
               [routerLink]=""
               (click)="showStopOrders('stop')">Stops</a>
            <a class="dropdown-item"
               [ngClass]="{'active': filledOrders}"
               [routerLink]=""
               (click)="showFilledOrders('filled')">Fills</a>
            <a class="dropdown-item"
               [ngClass]="{'active': allOrders}"
               [routerLink]=""
               (click)="showAllOrders('all')">Order History</a>
          </div>
        </div>
      </div>
      <div class="col-xs-2 mb-1">
        <button type="button" class="btn btn-danger btn-sm"
                [ngStyle]="{'visibility': selectedRow && selectedRow[0].ordStatus == 'New' ? 'visible' : 'hidden' }"
                (click)="onCancelOrder">
          Cancel
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ag-grid-angular style="width: 700px; height: 250px;"
                         class="ag-theme-balham"
                         [pagination]="true"
                         [rowData]="rowData"
                         [columnDefs]="columnDefs"
                         [rowSelection]="rowSelection"
                         (cellValueChanged)="onCellValueChanged($event)"
                         (selectionChanged)="onSelectionChanged($event)"
                         (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-xs-12 col-sm-10">
        <button type="button"
                class="btn btn-outline-primary btn-sm active">
          Open Positions
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ag-grid-angular style="width: 700px; height: 200px;"
                         class="ag-theme-balham"
                         [pagination]="true"
                         [rowData]="rowData2"
                         [columnDefs]="columnDefs2"
                         (gridReady)="onGridReady2($event)">
        </ag-grid-angular>
      </div>
    </div>

  </div>

</div>

