
<div class="row mt-5">
  <div class="col-xs-12 col-md-5 ml-auto mr-auto">
    <div class="alert"
         [ngClass]="{'alert-success': !invalidLogin, 'alert-danger': invalidLogin }"
         [ngStyle]="{'visibility': invalidLogin ? 'visible' : 'hidden'}">
      {{invalidLogin ? 'Login Failed' : 'Login Successful' }}
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-5 ml-auto mr-auto">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="email"
               id="email"
               class="form-control"
               ngModel
               name="email"
               required
               email />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               ngModel
               name="password"
               required />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Register' }}
        </button> |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Register' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>

