

  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item nav-link active" [ngClass]="{'active': !viewSelected}">
        <a (click)="viewSelected = !viewSelected">Select Assets</a>
      </li>
      <li class="nav-item nav-link" [ngClass]="{'active': viewSelected }">
        <a (click)="viewSelected = !viewSelected">View Assets</a>
      </li>
    </ul>
  </div>

  <div class="row mt-3">
    <div class="col-xs-12" *ngIf="!viewSelected">
      <h2>BTC Pairs</h2>
      <input [(ngModel)]="searchText" class="form-control" id="assetSearch" type="text" placeholder="Search.." />
      <div class="list-group" id="assetList">
        <button type="button"
                class="list-group-item list-group-item-action"
                [ngClass]="{'list-group-item-primary': asset.isSelected }"
                *ngFor="let i = index; let asset of assetList | filter: searchText"
                (click)="addToTrack(asset)">
          {{ asset.baseName }}
        </button>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="viewSelected && personalList">
    <!--<div id="trackedList">-->
    <!--<div class="list-group" *ngFor="let asset of personalList; let even = even; let odd = odd; let i = index">-->
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action"
            *ngFor="let asset of personalList; let even = even; let odd = odd; let i = index"
            (click)="onSelectPersonal(asset); setIndex(i)">
          {{asset.baseName}}
          <div style="display: inline"
               [ngStyle]="{'visibility': asset == selectedAsset ? 'visible' : 'hidden' }"
               class="ml-2">
            <button class="btn btn-success" type="button" (click)="navigateToDetail(asset)">View</button>
            <button class="btn btn-danger mr-1" type="button" (click)="onRemove()">Remove</button>
          </div>

        </li>
      </ul>
    </div>

  </div>











