<div class="row mt-5">

</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ asset.baseName + asset.quoteName}}</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseMA">Moving Average</button>
          </div>
          <div class="collapse" id="collapseMA">
            <div class="card card-body">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <div>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseEMA">EMA</button>
          </div>
          <div class="collapse" id="collapseEMA">
            <div class="card card-body">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseRSI">RSI</button>
          <div class="collapse" id="collapseRSI">
            <div class="card card-body">
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div>RSI</div>
            <div class="form-check">
              <input type="checkbox" id="rsi30M" class="form-check-input" />
              <label class="form-check-label" for="rsi30M">
                30M
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" id="rsi1HR" class="form-check-input" />
              <label class="form-check-label" for="rsi1HR">
                1HR
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" id="rsi4HR" class="form-check-input" />
              <label class="form-check-label" for="rsi4HR">
                4HR
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" id="rsi1D" class="form-check-input" />
              <label class="form-check-label" for="rsi1D">
                1D
              </label>
            </div>
          </div>

          <div>Moving Average</div>
          <div class="form-check">
            <input type="checkbox" id="rsi30M" class="form-check-input" />
            <label class="form-check-label" for="rsi30M">
              30M
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="rsi1HR" class="form-check-input" />
            <label class="form-check-label" for="rsi1HR">
              1HR
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="rsi4HR" class="form-check-input" />
            <label class="form-check-label" for="rsi4HR">
              4HR
            </label>
          </div>
          <div class="form-check">
            <input type="checkbox" id="rsi1D" class="form-check-input" />
            <label class="form-check-label" for="rsi1D">
              1D
            </label>
          </div>
        </div>
      </div>-->
    </form>
  </div>
</div>
