
<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1>{{ asset?.baseName + asset?.quoteName}}</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-4">
    <div class="form-group">
      <h4>Last Closing Price: </h4>
      <input type="text" class="form-control" id="lastClose" readonly value="{{priceBTC}}" />
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>Volume</h5></div>
      <div class="card-body">
        <label for="vol24">Current 24HR Vol</label>
        <input type="text" class="form-control" id="vol24" readonly/>
        <label for="volAvg24">Avg 20 Period</label>
        <input type="text" class="form-control" id="volAvg24" readonly/>
        <label for="vol4">Current 4HR Vol</label>
        <input type="text" class="form-control" id="vol4" readonly/>
        <label for="volAvg4">Avg 20 Period</label>
        <input type="text" id="volAvg4" class="form-control" readonly/>
        <label for="vol1">Current 1HR Vol</label>
        <input type="text" class="form-control" id="vol1" readonly/>
        <label for="volAvg1">Avg 20 Period</label>
        <input type="text" id="volAvg1" class="form-control" readonly/>
        <label for="vol15Min">Current 15M Vol</label>
        <input type="text" class="form-control" id="vol15Min" readonly />
        <label for="volAvg15M">Avg 20 Period</label>
        <input type="text" class="form-control" id="volAvg15M" readonly/>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>Moving Average</h5></div>
      <div class="card-body">
        <label for="ma24">Current 24HR MA</label>
        <input type="text" class="form-control" id="ma24" readonly/>
        <label for="ma4">Current 4HR MA</label>
        <input type="text" class="form-control" id="ma4" readonly />
        <label for="ma1">Current 1HR MA</label>
        <input type="text" class="form-control" id="ma1" />
        <label for="ma15M">Current 15M MA</label>
        <input type="text" id="ma15M" class="form-control" readonly/>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>RSI</h5></div>
      <div class="card-body">
        <label for="rsi24">Current 24HR RSI</label>
        <input type="text" class="form-control" id="rsi24" readonly />
        <label for="rsi4">Current 4HR RSI</label>
        <input type="text" class="form-control" id="rsi4" readonly />
        <label for="rsi1">Current 1HR MA</label>
        <input type="text" class="form-control" id="rsi1" />
        <label for="rsi15M">Current 15M RSI</label>
        <input type="text" id="rsi15M" class="form-control" readonly />
      </div>
    </div>
  </div>
</div>

