<div class="row pb-2 pt-5 mt-5 mb-1 border-bottom">
  <div class="col-xs-12 col-md-4">
    <h1>{{asset.BaseName}}</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xs-12 col-md-4">
    <div class="form-group">
      <h4>Last Closing Price:</h4>
      <input type="text" class="form-control" id="lastClose" readonly value="{{priceBTC}}" />
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>Volume</h5></div>
      <div class="card-body">
        <label>1D</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Current</span>
          </div>
          <input type="text" class="form-control" id="vol1D" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Avg 20</span>
          </div>
          <input type="text" class="form-control" id="volAvg1D" value="{{volAvg1D}}" />
        </div>
        <label>4H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Current</span>
          </div>
          <input type="text" class="form-control" id="vol4H" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Avg 20</span>
          </div>
          <input type="text" class="form-control" id="volAvg4H" value="{{volAvg4H}}" />
        </div>
        <label>1H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Current</span>
          </div>
          <input type="text" class="form-control" id="vol1H" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Avg 20</span>
          </div>
          <input type="text" class="form-control" id="volAvg1H" value="{{volAvg1H}}" />
        </div>
        <label>15M</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Current</span>
          </div>
          <input type="text" class="form-control" id="vol15M" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Avg 20</span>
          </div>
          <input type="text" class="form-control" id="volAvg15M" value="{{volAvg15M}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>Moving Average</h5></div>
      <div class="card-body">
        <label>1D</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 20</span>
          </div>
          <input type="text" class="form-control" id="ma24-1" readonly value="{{ma1D_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 50</span>
          </div>
          <input type="text" class="form-control" id="ma24-2" readonly value="{{ma1D_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 100</span>
          </div>
          <input type="text" class="form-control" id="ma24-3" readonly value="{{ma1D_3}}" />
        </div>
        <label>4H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 20</span>
          </div>
          <input type="text" class="form-control" id="ma4-1" readonly value="{{ma4H_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 50</span>
          </div>
          <input type="text" class="form-control" id="ma4-2" readonly value="{{ma4H_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 100</span>
          </div>
          <input type="text" class="form-control" id="ma4-3" readonly value="{{ma4H_3}}" />
        </div>
        <label>1H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 20</span>
          </div>
          <input type="text" class="form-control" id="ma1-1" readonly value="{{ma1H_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 50</span>
          </div>
          <input type="text" class="form-control" id="ma1-2" readonly value="{{ma1H_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 100</span>
          </div>
          <input type="text" class="form-control" id="ma1-3" readonly value="{{ma1H_3}}" />
        </div>
        <label>15M</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 20</span>
          </div>
          <input type="text" class="form-control" id="ma15M-1" readonly value="{{ma15M_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 50</span>
          </div>
          <input type="text" class="form-control" id="ma15M-2" readonly value="{{ma15M_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">MA 100</span>
          </div>
          <input type="text" class="form-control" id="ma15M-3" readonly value="{{ma15M_3}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>Exponential Moving Average</h5></div>
      <div class="card-body">
        <label>1D</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 20</span>
          </div>
          <input type="text" class="form-control" id="ema24-1" readonly value="{{ema1D_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 50</span>
          </div>
          <input type="text" class="form-control" id="ema24-2" readonly value="{{ema1D_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 100</span>
          </div>
          <input type="text" class="form-control" id="ema24-3" readonly value="{{ema1D_3}}" />
        </div>
        <label>4H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 20</span>
          </div>
          <input type="text" class="form-control" id="ema4-1" readonly value="{{ema4H_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 50</span>
          </div>
          <input type="text" class="form-control" id="ema4-2" readonly value="{{ema4H_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 100</span>
          </div>
          <input type="text" class="form-control" id="ema4-3" readonly value="{{ema4H_3}}" />
        </div>
        <label>1H</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 20</span>
          </div>
          <input type="text" class="form-control" id="ema1-1" readonly value="{{ema1H_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 50</span>
          </div>
          <input type="text" class="form-control" id="ema1-2" readonly value="{{ema1H_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 100</span>
          </div>
          <input type="text" class="form-control" id="ema1-3" readonly value="{{ema1H_3}}" />
        </div>
        <label>15M</label>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 20</span>
          </div>
          <input type="text" class="form-control" id="ema15M-1" readonly value="{{ema15M_1}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 50</span>
          </div>
          <input type="text" class="form-control" id="ema15M-2" readonly value="{{ema15M_2}}" />
        </div>
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">EMA 100</span>
          </div>
          <input type="text" class="form-control" id="ema15M-3" readonly value="{{ema15M_3}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 mt-4">
    <div class="card text-white bg-dark">
      <div class="card-header"><h5>RSI</h5></div>
      <div class="card-body">
        <label for="rsi24">Current 24HR RSI</label>
        <input type="text" class="form-control" id="rsi24" readonly value="{{rsi1D}}" />
        <label for="rsi4">Current 4HR RSI</label>
        <input type="text" class="form-control" id="rsi4" readonly />
        <label for="rsi1">Current 1HR MA</label>
        <input type="text" class="form-control" id="rsi1" />
        <label for="rsi15M">Current 15M RSI</label>
        <input type="text" id="rsi15M" class="form-control" readonly />
      </div>
    </div>
  </div>
</div>

